
<main>
  <div id="sidePannel">
    <button class="btn" id="new-folder-btn">New Folder</button>
    <button class="btn" id="new-file-btn">New txt file</button>
    {{#if root}}
    <button class="btn" id="rename-btn">Rename Folder</button>
    {{/if}}
    <form action="/files/upload" enctype="multipart/form-data" method="POST">
      <label for="file-upload"></label>
      <input type="file" name="file" multiple="multiple" id="file-upload" />
      <button type="submit">OK</button>
      <input type="hidden" name="root" value="{{root}}">

    </form>
  </div>
  <div id="maincontent">
    <div class="path">
      {{#each path}}
        <a href="/{{link}}">{{name}}</a> &gt;
      {{/each}}
    </div>
    <div class="folders container">
      {{#each folders}}
        <div class="folder tile">
          <form action="/folders/delete" enctype="multipart/form-data" method="POST">
          {{#if ../root}}
            <a href="/home/{{../root}}/{{name}}">
          {{else}}
            <a href="/home/{{name}}">
          {{/if}}
              <img src="https://img.icons8.com/fluency-systems-regular/48/null/folder-invoices.png" alt="folder Icon" class="ico" />
            </a>
            <button type="submit">x</button>
            <p>{{name}}</p>
            <input type="hidden" name="name" value="{{name}}" />
            <input type="hidden" name="root" value="{{../root}}">

          </form>
        </div>
      {{/each}}
    </div>
    <div class="files container">
      {{#each files}}
        <div class="file tile">
          <form action="/files/delete" enctype="multipart/form-data" method="POST">
          <img />
            <img src="https://img.icons8.com/fluency-systems-regular/48/000000/{{extention}}.png" alt="File Icon " class="ico" />
            <button type="submit">x</button>
            <p>{{name}}</p>
            <input type="hidden" name="name" value="{{name}}" />
            <input type="hidden" name="root" value="{{../root}}">
          </form>
        </div>
      {{/each}}
    </div>
  </div>
</main>

<aside style="display: inline;">
  <dialog id="folder-dialog">
    <form enctype="multipart/form-data" action="/folders/add" method="post">
      <p>Name of new folder: </p>
      <input type="text" name="name" />
      <input type="hidden" name="root" value="{{root}}">

      <button type="submit" class="btn">Ok</button>
      <button
        class="btn"
        id="folder-close-btn"
        formmethod="dialog"
      >Cancel</button>
    </form>
  </dialog>
  <dialog id="file-dialog">
    <form action="/files/add" enctype="multipart/form-data" method="post">
      <p>Name of new file: </p>
      <input type="text" name="name" />
      <input type="hidden" name="root" value="{{root}}">
      <button type="submit" class="btn">Ok</button>
      <button
        class="btn"
        id="file-close-btn"
        formmethod="dialog"
      >Cancel</button>
    </form>
  </dialog>
  <dialog id="rename-dialog">
    <form enctype="multipart/form-data" action="/folders/rename" method="post">
      <p>Name of new folder: </p>
      <input type="text" name="name" />
      <input type="hidden" name="root" value="{{root}}">
      <button type="submit" class="btn">Ok</button>
      <button
        class="btn"
        id="rename-close-btn"
        formmethod="dialog"
      >Cancel</button>
    </form>
  </dialog>
</aside>

<script src="/js/dialogHandler.js"></script>